@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: samurai;
  src: url(/fonts/SamuraiBlast.woff)
}

body,
html {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}

.div-center {
  @apply flex justify-center items-center
}

.text-shadow {
  text-shadow: -10px 15px 8.896px #fac9035d, 0 -2px 1px #aeffb4;
}

.button-color-1 {
  color: white;
  background: linear-gradient(90deg, #eab308 0%, #EB1751 100%);
}
.button-color-2 {
  color: white;
  background: linear-gradient(90deg, #EB1751 0%,  #eab308 100%);
}

@keyframes pulse {
  0%, 100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
}

.turn {
  animation: pulse 1.2s ease-in-out infinite;
}